input[type="search"] {
  padding: 0 10px;
}

.enter-city-box,
.search-btn,
.location-btn {
  background: #e3edf8;
  margin: 0;
  line-height: 40px;
  border-radius: 8px;
  border: 1px solid #91aac5;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}

.location-btn,
.search-btn {
  text-align: center;
}
